body {
    margin: 0%;
    padding: 0%;
    background: #FF9B04;
    background: linear-gradient(225deg, #FF9B04, #FFFFFB);
    min-height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: clamp(280px, 40vw, 400px);
    border-radius: 10px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

