body {
    margin: 0%;
    padding: 0%;
    background: #FF9B04;
    background: linear-gradient(225deg, #FF9B04, #FFFFFB);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px
    margin-bottom: 20px;
    font-weight: 600;
    animation: fadeDown 1s ease;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.formulario form {
    width: 100%;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    width: clamp(60px, 20vw, 90px);
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.username, .contrasena {
    position: relative;
    margin-bottom: 25px;
}

.username input, .contrasena input {
    width: 100%;
    padding: 12px 40px 12px 10px;
    border: none;
    font-size: 15px;
    background: transparent;
}

.username label, .contrasena label {
    position: absolute;
    
}



.contrasena::after {
    content: "👁";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
}

.recordar {
    text-align: right;
    font-size: 13px;
    color: #555;
    margin-bottom: 20px;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #FF9B04;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #e38900;
}

.registrarse {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.registrarse a {
    color: #FF9B04;
    text-decoration: none;
    font-weight: 600;
}

.registrarse a:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {
    .formulario {
        padding: 25px 20px;
    }
}